In [26]:
import time
import pandas as pd

In [28]:
df = pd.read_csv('PDF_DATA.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc1 in position 3: invalid start byte

In [10]:
%pip install chardet

Requirement already satisfied: chardet in c:\programdata\anaconda3\lib\site-packages (4.0.0)
Note: you may need to restart the kernel to use updated packages.

In [12]:
import chardet

with open('PDF_DATA.csv', 'rb') as rawdata:
    result = chardet.detect(rawdata.read(10000))

# check what the character encoding might be
print(result)

{'encoding': 'EUC-KR', 'confidence': 0.99, 'language': 'Korean'}

In [29]:
df = pd.read_csv('PDF_DATA.csv', encoding='EUC-KR')
df

    No    종목코드       종목명       수량(주)     평가금액(원)  비중(%) 1주 수익률
0    1    5490  POSCO홀딩스          84  28,056,000   5.64  11.33
1    2   11780      금호석유         164  23,763,600   4.78   1.54
2    3    5940    NH투자증권       2,466  23,525,640   4.73  -0.73
3    4   16360      삼성증권         679  22,712,550   4.57  -2.62
4    5   71050    한국금융지주         364  22,204,000   4.47  -2.24
5    6    3540      대신증권       1,516  20,056,680   4.03  -2.72
6    7    7070     GS리테일         646  19,412,300   3.90   -0.5
7    8    1800    오리온홀딩스       1,208  18,856,880   3.79   0.13
8    9   39490      키움증권         170  17,986,000   3.62   3.93
9   10    3550        LG         197  16,075,200   3.23   1.62
10  11   10130      고려아연          27  15,147,000   3.05   3.51
11  12   18670      SK가스         119  14,934,500   3.00  -0.24
12  13   69260    TKG휴켐스         741  14,301,300   2.88  -0.72
13  14   23590      다우기술         607  14,203,800   2.86   5.64
14  15     270        기아         180  13,752,000   2.77   5.52
15  16    1680        대상         620  12,555,000   2.52  -2.64
16  17     210        DL         183  10,797,000   2.17   1.55
17  18    1040        CJ         131  10,597,900   2.13  -2.88
18  19   34730        SK          56  10,477,600   2.11  -5.98
19  20    5930      삼성전자         137   8,576,200   1.72  -0.32
20  21   42700     한미반도체         560   8,523,200   1.71  -2.87
21  22    4000    롯데정밀화학         140   8,232,000   1.66   1.03
22  23   84690     대상홀딩스       1,051   8,197,800   1.65  -2.26
23  24   12330     현대모비스          38   8,094,000   1.63    2.4
24  25    5440    현대그린푸드       1,126   7,701,840   1.55  -4.07
25  26    7310       오뚜기          16   7,312,000   1.47  -4.89
26  27  139480       이마트          53   6,132,100   1.23  12.22
27  28  120110     코오롱인더         128   6,099,200   1.23   5.77
28  29   86280    현대글로비스          38   6,140,800   1.23   -0.8
29  30    3230      삼양식품          44   5,420,800   1.09   2.16
30  31   51900    LG생활건강           8   5,440,000   1.09  -2.72
31  32    9240        한샘         112   5,230,400   1.05  -0.85
32  33      20      동화약품         527   4,858,940   0.98  -2.23
33  34   26890  스틱인베스트먼트         738   4,634,640   0.93  -0.95
34  35   97950    CJ제일제당          14   4,606,000   0.93  -4.78
35  36   25540      한국단자          77   4,512,200   0.91   2.27
36  37   36570     엔씨소프트          11   4,548,500   0.91  -3.39
37  38  185750       종근당          49   3,964,100   0.80  -2.29
38  39   69960     현대백화점          70   3,955,000   0.80  -7.38
39  40  161890      한국콜마          86   3,650,700   0.73  -4.28
40  41   24720   한국콜마홀딩스         206   3,374,280   0.68  -5.21
41  42   14830       유니드          39   3,240,900   0.65   3.23
42  43    9450     경동나비엔          83   3,104,200   0.62   7.78
43  44   14680     한솔케미칼          14   3,010,000   0.61  -0.92
44  45   11070     LG이노텍          10   2,885,000   0.58   1.41
45  46    3850        보령         276   2,536,440   0.51  -1.61
46  47   31430  신세계인터내셔날          94   2,227,800   0.45  -4.24
47  48   11790       SKC          20   1,818,000   0.37  -2.36
48  49     490        대동         135   1,695,600   0.34   4.58
49  50   35420     NAVER           3     646,500   0.13   -6.3
50  51       0      원화예금  17,461,786  17,461,786   3.51      -

In [23]:
tickers = df.종목코드.to_list()
tickers

[5490,
 11780,
 5940,
 16360,
 71050,
 3540,
 7070,
 1800,
 39490,
 3550,
 10130,
 18670,
 69260,
 23590,
 270,
 1680,
 210,
 1040,
 34730,
 5930,
 42700,
 4000,
 84690,
 12330,
 5440,
 7310,
 139480,
 120110,
 86280,
 3230,
 51900,
 9240,
 20,
 26890,
 97950,
 25540,
 36570,
 185750,
 69960,
 161890,
 24720,
 14830,
 9450,
 14680,
 11070,
 3850,
 31430,
 11790,
 490,
 35420,
 0]

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       51 non-null     int64
 1   종목코드     51 non-null     int64
 2   종목명      51 non-null     object
 3   수량(주)    51 non-null     object
 4   평가금액(원)  51 non-null     object
 5   비중(%)    51 non-null     float64
 6   1주 수익률   51 non-null     object
dtypes: float64(1), int64(2), object(4)
memory usage: 2.9+ KB

In [25]:
tickers_new = []
for ticker in tickers:
    if ticker > 0:
        tickers_new.append(str(ticker).zfill(6))
tickers_new

['005490',
 '011780',
 '005940',
 '016360',
 '071050',
 '003540',
 '007070',
 '001800',
 '039490',
 '003550',
 '010130',
 '018670',
 '069260',
 '023590',
 '000270',
 '001680',
 '000210',
 '001040',
 '034730',
 '005930',
 '042700',
 '004000',
 '084690',
 '012330',
 '005440',
 '007310',
 '139480',
 '120110',
 '086280',
 '003230',
 '051900',
 '009240',
 '000020',
 '026890',
 '097950',
 '025540',
 '036570',
 '185750',
 '069960',
 '161890',
 '024720',
 '014830',
 '009450',
 '014680',
 '011070',
 '003850',
 '031430',
 '011790',
 '000490',
 '035420']

In [ ]:
df_tiger_div_growth_50 = None
#start_time = time.time()
for idx, ticker in enumerate(tickers):
    print(f'{idx+1:03d}: {ticker}')
    df_stock_fundamental = get_stock_fundamental(latest_date, ticker)
    display(df_stock_fundamental)
    if df_tiger_div_growth_50 is None:
        df_tiger_div_growth_50 = df_stock_fundamental
    else:
        df_tiger_div_growth_50 = pd.concat([df_tiger_div_growth_50, df_stock_fundamental])
    time.sleep(1)
#end_time = time.time()

In [15]:
df = pd.read_excel('PDF_DATA.xls')
df

ValueError: Excel file format cannot be determined, you must specify an engine manually.