TIGER 배당성장 ETF CSV 파일을 xlsx 파일로 저장

In [1]:
import pandas as pd

def convertTigerEtfCsvToXlsx(csvFilePath):
    try:
        df = pd.read_csv(csvFilePath, encoding='EUC-KR')

        """ No 컬럼 삭제 """
        df = df.drop('No', axis=1)

        """ 종목코드가 0인 행 삭제 """
        df = df[df.종목코드 != 0]

        """ 정수형 종목코드를 6자리 스트링으로 변환 """
        tickers = df.종목코드.to_list()
        tickers_new = []
        for ticker in tickers:
            """ 앞에 빈 자리는 0으로 채워서 6자리로 만든다. """
            tickers_new.append(str(ticker).zfill(6))
        df.종목코드 = tickers_new

        df.to_excel(csvFilePath.replace('.csv', '.xlsx'), index=False)
    except Exception as e:
        raise e

In [2]:
"""
파일 변환
"""
#csvFilePath = './data/PDF_DATA.csv'
csvFilePath = './data/PDF_DATA_20230524.csv'

try:
    convertTigerEtfCsvToXlsx(csvFilePath)
except Exception as e:
    print(e)

"""FIN"""

"""
패키지/모듈 만들기
"""

In [1]:
import kodivstock.tigercsvtoxlsx as tigercsvtoxlsx

In [2]:
xlsxFilePath = tigercsvtoxlsx.convertTigerEtfCsvToXlsx('./data/PDF_DATA.csv')
xlsxFilePath

'./data/PDF_DATA.xlsx'

In [3]:
import pandas as pd

In [4]:
df = pd.read_excel(xlsxFilePath)
df

      종목코드       종목명  수량(주)     평가금액(원)  비중(%)  1주 수익률
0     5490  POSCO홀딩스     84  27,888,000   5.62    2.00
1    11780      금호석유    164  26,092,400   5.26   12.04
2     5940    NH투자증권  2,466  22,810,500   4.60   -2.22
3    16360      삼성증권    679  22,169,350   4.47   -1.51
4    71050    한국금융지주    364  21,767,200   4.39   -0.83
5     3540      대신증권  1,516  19,753,480   3.98   -2.62
6     7070     GS리테일    646  19,541,500   3.94    1.00
7     1800    오리온홀딩스  1,208  19,086,400   3.85   -0.06
8    39490      키움증권    170  17,612,000   3.55   -0.38
9    10130      고려아연     27  16,443,000   3.31   10.53
10    3550        LG    197  16,114,600   3.25    1.11
11   18670      SK가스    119  14,934,500   3.01    0.40
12   69260    TKG휴켐스    741  14,531,010   2.93    2.94
13   23590      다우기술    607  13,384,350   2.70   -2.00
14     270        기아    180  13,410,000   2.70    2.62
15    1680        대상    620  12,263,600   2.47   -2.56
16     210        DL    183  10,851,900   2.19    3.85
17    1040        CJ    131  10,650,300   2.15    1.25
18   34730        SK     56  10,309,600   2.08   -1.18
19   42700     한미반도체    560   8,663,200   1.75   -3.25
20    5930      삼성전자    137   8,370,700   1.69   -1.77
21    4000    롯데정밀화학    140   8,316,000   1.68    3.12
22   12330     현대모비스     38   8,132,000   1.64    1.18
23   84690     대상홀딩스  1,051   8,082,190   1.63   -2.04
24    5440    현대그린푸드  1,126   7,724,360   1.56   -1.15
25    7310       오뚜기     16   7,040,000   1.42   -4.76
26  139480       이마트     53   6,259,300   1.26    2.25
27   86280    현대글로비스     38   6,080,000   1.22    0.00
28  120110     코오롱인더    128   6,073,600   1.22    6.15
29    3230      삼양식품     44   5,341,600   1.08   -3.11
30   51900    LG생활건강      8   5,368,000   1.08   -2.33
31    9240        한샘    112   5,196,800   1.05    2.43
32   36570     엔씨소프트     11   4,840,000   0.98    7.45
33      20      동화약품    527   4,806,240   0.97   -1.62
34   26890  스틱인베스트먼트    738   4,523,940   0.91    0.33
35   97950    CJ제일제당     14   4,466,000   0.90   -3.19
36   25540      한국단자     77   4,342,800   0.87   -4.41
37  185750       종근당     49   3,929,800   0.79   -0.12
38   69960     현대백화점     70   3,885,000   0.78   -0.72
39  161890      한국콜마     86   3,569,000   0.72   -2.47
40   24720   한국콜마홀딩스    206   3,328,960   0.67   -2.83
41    9450     경동나비엔     83   3,137,400   0.63    5.88
42   14830       유니드     39   3,139,500   0.63    0.25
43   14680     한솔케미칼     14   2,905,000   0.59   -1.43
44   11070     LG이노텍     10   2,860,000   0.58    3.81
45    3850        보령    276   2,495,040   0.50    0.00
46   31430  신세계인터내셔날     94   2,190,200   0.44   -1.89
47   11790       SKC     20   1,888,000   0.38    5.24
48     490        대동    135   1,717,200   0.35    5.39
49   35420     NAVER      3     634,500   0.13   -1.86

In [ ]:
"""
csv 파일 안의 문자 인코딩 방식 확인하기
"""
import chardet

with open('./data/PDF_DATA.csv', 'rb') as rawdata:
    result = chardet.detect(rawdata.read(10000))

# check what the character encoding might be
print(result)

In [ ]:
"""
csv 파일 안의 문자 인코딩 방식 확인하기
"""
import chardet

def getEncoding(filePath):
    with open('./data/PDF_DATA.csv', 'rb') as rawdata:
        result = chardet.detect(rawdata.read(10000))

    # check what the character encoding might be
    return result['encoding']

In [ ]:
encoding = getEncoding('./data/PDF_DATA.csv')
encoding

In [ ]:
chardet.__version__

In [ ]:
df = pd.read_csv('PDF_DATA.csv', encoding='EUC-KR')
df.head(3)

In [ ]:
df.tail(3)

In [ ]:
df = df[df.종목코드 != 0]
df.tail(3)

In [ ]:
df.info()

In [ ]:
tickers = df.종목코드.to_list()
tickers

In [ ]:
"""
정수형 종목코드를 6자리 스트링으로 변환
앞에 빈 자리는 0으로 채워서 6자리로 만든다.
"""
tickers_new = []
for ticker in tickers:
    if ticker > 0:
        tickers_new.append(str(ticker).zfill(6))
tickers_new

In [ ]:
df.종목코드 = tickers_new
df

In [ ]:
df = df.drop('No', axis=1)
df.head(3)

In [ ]:
df.info()

In [ ]:
#df.to_csv('PDF_DATA.csv', index=False, encoding="utf-8-sig")
df.to_excel('PDF_DATA.xlsx', index=False, encoding="utf-8-sig")

In [ ]:
from datetime import datetime, timedelta
def getLatestBusinessDay():
    yesterday = datetime.now() - timedelta(1)
    yesterday = datetime.strftime(yesterday, '%Y%m%d')
    return stock.get_nearest_business_day_in_a_week(yesterday)

In [ ]:
latest_business_day = getLatestBusinessDay()
latest_business_day

In [ ]:
"""
타이거 배당성장 ETF 50개 Fundamental 정보 수집
"""

tickers = ['005490', '011780'] # TEST ONLY
df_tiger_div_growth_50 = None
#start_time = time.time()
for idx, ticker in enumerate(tickers):
    print(f'{idx+1:03d}: {ticker}')
    df_stock_fundamental = stock.get_market_fundamental(latest_business_day, latest_business_day, ticker)
    display(df_stock_fundamental)
    df_stock_fundamental.index.name = None
    df_stock_fundamental.index = [ticker]
    if df_tiger_div_growth_50 is None:
        df_tiger_div_growth_50 = df_stock_fundamental
    else:
        df_tiger_div_growth_50 = pd.concat([df_tiger_div_growth_50, df_stock_fundamental])
    time.sleep(1)
#end_time = time.time()

In [ ]:
df_tiger_div_growth_50

In [ ]:
df_tiger_div_growth_50.index.name = None

In [ ]:
df_tiger_div_growth_50

In [ ]:
df = pd.read_excel('PDF_DATA.xls')
df