In [1]:
import numpy as np
import pandas as pd
from scipy.signal import savgol_filter
from pykrx import stock
import matplotlib.pyplot as plt
import time
plt.rcParams['font.family'] = 'Malgun Gothic'

import kodivstock.divanalyzer as da

In [2]:
START_YEAR = 2012
END_YEAR = 2021

In [98]:
df = pd.read_excel('./data/PDF_DATA.xlsx')
df.head(3)

    종목코드       종목명  수량(주)     평가금액(원)  비중(%)  1주 수익률
0   5490  POSCO홀딩스     84  27,888,000   5.62    2.00
1  11780      금호석유    164  26,092,400   5.26   12.04
2   5940    NH투자증권  2,466  22,810,500   4.60   -2.22

In [4]:
df_dps = pd.DataFrame(index = range(START_YEAR, END_YEAR+1))
df_dps.head(3)

Empty DataFrame
Columns: []
Index: [2012, 2013, 2014]

In [5]:
for ticker in df.종목코드:
    ticker = str(ticker).zfill(6)
    dps_list = da.getAnnualDps(START_YEAR, END_YEAR, ticker)
    df_dps[ticker] = dps_list

 185750 cannot read dps in 2013

In [6]:
df_dps

,005490,011780,005940,016360,071050,003540,007070,001800,039490,010130,...,024720,009450,014830,014680,011070,003850,031430,011790,000490,035420
2012,8000,2000,230,700,700,650,400,3000,850,5000,...,105,100,750,500,0,150,600,500,50,616
2013,8000,1500,50,100,200,200,450,3000,350,5000,...,65,100,1000,500,0,150,600,500,50,734
2014,8000,1500,160,650,700,250,600,6000,450,6500,...,100,100,1100,600,250,200,600,550,60,782
2015,8000,800,400,1000,1000,500,850,6000,700,8500,...,125,100,1100,800,350,200,600,750,50,1100
2016,8000,800,400,650,800,550,1100,6000,850,8500,...,155,150,1100,1000,250,200,600,750,40,1131
2017,8000,1000,500,1000,1600,610,600,600,1300,10000,...,185,200,1100,1000,250,160,600,900,60,1446
2018,10000,1350,500,1400,1800,620,650,650,1500,11000,...,195,250,1100,1200,300,60,850,1000,50,314
2019,10000,1500,500,1700,2900,1000,750,650,2000,14000,...,195,300,1200,1500,300,100,1100,1000,60,376
2020,8000,4200,700,2200,3000,1200,900,650,3000,15000,...,205,350,1400,1800,700,100,1100,1000,80,402
2021,17000,10000,1050,3800,6150,1400,1200,650,3500,20000,...,245,450,1700,2100,3000,100,300,1100,80,511

In [7]:
#df_dps.plot()
#plt.show()

In [8]:
dpsExcelFilePath = f'./data/tiger_divgrowth50_dps_data_{START_YEAR}_{END_YEAR}.xlsx'
df_dps.to_excel(dpsExcelFilePath)

""" 7년 배당 성장률 계산하기 """

In [44]:
df_dps = pd.read_excel(dpsExcelFilePath)
df_dps

,Unnamed: 0,005490,011780,005940,016360,071050,003540,007070,001800,039490,...,024720,009450,014830,014680,011070,003850,031430,011790,000490,035420
0,2012,8000,2000,230,700,700,650,400,3000,850,...,105,100,750,500,0,150,600,500,50,616
1,2013,8000,1500,50,100,200,200,450,3000,350,...,65,100,1000,500,0,150,600,500,50,734
2,2014,8000,1500,160,650,700,250,600,6000,450,...,100,100,1100,600,250,200,600,550,60,782
3,2015,8000,800,400,1000,1000,500,850,6000,700,...,125,100,1100,800,350,200,600,750,50,1100
4,2016,8000,800,400,650,800,550,1100,6000,850,...,155,150,1100,1000,250,200,600,750,40,1131
5,2017,8000,1000,500,1000,1600,610,600,600,1300,...,185,200,1100,1000,250,160,600,900,60,1446
6,2018,10000,1350,500,1400,1800,620,650,650,1500,...,195,250,1100,1200,300,60,850,1000,50,314
7,2019,10000,1500,500,1700,2900,1000,750,650,2000,...,195,300,1200,1500,300,100,1100,1000,60,376
8,2020,8000,4200,700,2200,3000,1200,900,650,3000,...,205,350,1400,1800,700,100,1100,1000,80,402
9,2021,17000,10000,1050,3800,6150,1400,1200,650,3500,...,245,450,1700,2100,3000,100,300,1100,80,511

In [49]:
df_dps_data_last_8 = df_dps.iloc[2:,1:]
df_dps_data_last_8

,005490,011780,005940,016360,071050,003540,007070,001800,039490,010130,...,024720,009450,014830,014680,011070,003850,031430,011790,000490,035420
2,8000,1500,160,650,700,250,600,6000,450,6500,...,100,100,1100,600,250,200,600,550,60,782
3,8000,800,400,1000,1000,500,850,6000,700,8500,...,125,100,1100,800,350,200,600,750,50,1100
4,8000,800,400,650,800,550,1100,6000,850,8500,...,155,150,1100,1000,250,200,600,750,40,1131
5,8000,1000,500,1000,1600,610,600,600,1300,10000,...,185,200,1100,1000,250,160,600,900,60,1446
6,10000,1350,500,1400,1800,620,650,650,1500,11000,...,195,250,1100,1200,300,60,850,1000,50,314
7,10000,1500,500,1700,2900,1000,750,650,2000,14000,...,195,300,1200,1500,300,100,1100,1000,60,376
8,8000,4200,700,2200,3000,1200,900,650,3000,15000,...,205,350,1400,1800,700,100,1100,1000,80,402
9,17000,10000,1050,3800,6150,1400,1200,650,3500,20000,...,245,450,1700,2100,3000,100,300,1100,80,511

In [65]:
def getCAGR(capital, final_balance, period):
    cagr = (final_balance/capital) ** (1/period) - 1
    return round(cagr, 2)

In [68]:
cagr_7 = []
for column in df_dps_data_last_8.columns:
    dps = df_dps_data_last_8[column].to_list()
    cagr = getCAGR(dps[0], dps[-1], len(dps)-1)
    print(f'{column}: {cagr}')
    cagr_7.append(cagr)

005490: 0.11
011780: 0.31
005940: 0.31
016360: 0.29
071050: 0.36
003540: 0.28
007070: 0.1
001800: -0.27
039490: 0.34
010130: 0.17
003550: 0.16
018670: 0.14
069260: 0.09
023590: 0.24
000270: 0.17
001680: 0.15
000210: 0.52
001040: 0.13
034730: 0.22
042700: -0.07
005930: -0.31
004000: 0.34
012330: 0.04
084690: 0.05
005440: 0.2
007310: 0.1
139480: 0.04
086280: 0.1
120110: 0.15
003230: 0.39
051900: 0.17
009240: 0.09
036570: 0.08
000020: 0.12
026890: 0.17
097950: 0.14
025540: 0.07
185750: 0.03
069960: 0.07
161890: 0.15
024720: 0.14
009450: 0.24
014830: 0.06
014680: 0.2
011070: 0.43
003850: -0.09
031430: -0.09
011790: 0.1
000490: 0.04
035420: -0.06

In [104]:
df_result = df.iloc[:,:2]
df_result.head(3)

    종목코드       종목명
0   5490  POSCO홀딩스
1  11780      금호석유
2   5940    NH투자증권

In [105]:
df_result['Div Growth 7'] = cagr_7

In [106]:
df_result.head(3)

    종목코드       종목명  Div Growth 7
0   5490  POSCO홀딩스          0.11
1  11780      금호석유          0.31
2   5940    NH투자증권          0.31

In [107]:
df_result.to_excel('./data/tiger_divgrowth50_div_analyze_result.xlsx')

In [102]:
df_result.sort_values('Div Growth 7', ascending=False)

      종목코드       종목명  Div Growth 7
16     210        DL          0.52
44   11070     LG이노텍          0.43
29    3230      삼양식품          0.39
4    71050    한국금융지주          0.36
8    39490      키움증권          0.34
21    4000    롯데정밀화학          0.34
2     5940    NH투자증권          0.31
1    11780      금호석유          0.31
3    16360      삼성증권          0.29
5     3540      대신증권          0.28
13   23590      다우기술          0.24
41    9450     경동나비엔          0.24
18   34730        SK          0.22
43   14680     한솔케미칼          0.20
24    5440    현대그린푸드          0.20
9    10130      고려아연          0.17
14     270        기아          0.17
30   51900    LG생활건강          0.17
34   26890  스틱인베스트먼트          0.17
10    3550        LG          0.16
28  120110     코오롱인더          0.15
39  161890      한국콜마          0.15
15    1680        대상          0.15
35   97950    CJ제일제당          0.14
40   24720   한국콜마홀딩스          0.14
11   18670      SK가스          0.14
17    1040        CJ          0.13
33      20      동화약품          0.12
0     5490  POSCO홀딩스          0.11
47   11790       SKC          0.10
25    7310       오뚜기          0.10
6     7070     GS리테일          0.10
27   86280    현대글로비스          0.10
31    9240        한샘          0.09
12   69260    TKG휴켐스          0.09
32   36570     엔씨소프트          0.08
36   25540      한국단자          0.07
38   69960     현대백화점          0.07
42   14830       유니드          0.06
23   84690     대상홀딩스          0.05
26  139480       이마트          0.04
22   12330     현대모비스          0.04
48     490        대동          0.04
37  185750       종근당          0.03
49   35420     NAVER         -0.06
19   42700     한미반도체         -0.07
45    3850        보령         -0.09
46   31430  신세계인터내셔날         -0.09
7     1800    오리온홀딩스         -0.27
20    5930      삼성전자         -0.31

In [14]:
"""
Test
"""

'\nTest\n'

In [40]:
#df_dps = pd.DataFrame(index = range(START_YEAR, END_YEAR+1))
df_dps = pd.DataFrame(index = ('name', range(START_YEAR, END_YEAR+1)))
df_dps.head(3)

Empty DataFrame
Columns: []
Index: [name, (2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021)]

In [21]:
df_dps.index.name = 'year'
df_dps

Empty DataFrame
Columns: []
Index: [2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]

      종목코드       종목명  수량(주)     평가금액(원)  비중(%)  1주 수익률
0     5490  POSCO홀딩스     84  27,888,000   5.62    2.00
1    11780      금호석유    164  26,092,400   5.26   12.04
2     5940    NH투자증권  2,466  22,810,500   4.60   -2.22
3    16360      삼성증권    679  22,169,350   4.47   -1.51
4    71050    한국금융지주    364  21,767,200   4.39   -0.83
5     3540      대신증권  1,516  19,753,480   3.98   -2.62
6     7070     GS리테일    646  19,541,500   3.94    1.00
7     1800    오리온홀딩스  1,208  19,086,400   3.85   -0.06
8    39490      키움증권    170  17,612,000   3.55   -0.38
9    10130      고려아연     27  16,443,000   3.31   10.53
10    3550        LG    197  16,114,600   3.25    1.11
11   18670      SK가스    119  14,934,500   3.01    0.40
12   69260    TKG휴켐스    741  14,531,010   2.93    2.94
13   23590      다우기술    607  13,384,350   2.70   -2.00
14     270        기아    180  13,410,000   2.70    2.62
15    1680        대상    620  12,263,600   2.47   -2.56
16     210        DL    183  10,851,900   2.19    3.85
17    1040        CJ    131  10,650,300   2.15    1.25
18   34730        SK     56  10,309,600   2.08   -1.18
19   42700     한미반도체    560   8,663,200   1.75   -3.25
20    5930      삼성전자    137   8,370,700   1.69   -1.77
21    4000    롯데정밀화학    140   8,316,000   1.68    3.12
22   12330     현대모비스     38   8,132,000   1.64    1.18
23   84690     대상홀딩스  1,051   8,082,190   1.63   -2.04
24    5440    현대그린푸드  1,126   7,724,360   1.56   -1.15
25    7310       오뚜기     16   7,040,000   1.42   -4.76
26  139480       이마트     53   6,259,300   1.26    2.25
27   86280    현대글로비스     38   6,080,000   1.22    0.00
28  120110     코오롱인더    128   6,073,600   1.22    6.15
29    3230      삼양식품     44   5,341,600   1.08   -3.11
30   51900    LG생활건강      8   5,368,000   1.08   -2.33
31    9240        한샘    112   5,196,800   1.05    2.43
32   36570     엔씨소프트     11   4,840,000   0.98    7.45
33      20      동화약품    527   4,806,240   0.97   -1.62
34   26890  스틱인베스트먼트    738   4,523,940   0.91    0.33
35   97950    CJ제일제당     14   4,466,000   0.90   -3.19
36   25540      한국단자     77   4,342,800   0.87   -4.41
37  185750       종근당     49   3,929,800   0.79   -0.12
38   69960     현대백화점     70   3,885,000   0.78   -0.72
39  161890      한국콜마     86   3,569,000   0.72   -2.47
40   24720   한국콜마홀딩스    206   3,328,960   0.67   -2.83
41    9450     경동나비엔     83   3,137,400   0.63    5.88
42   14830       유니드     39   3,139,500   0.63    0.25
43   14680     한솔케미칼     14   2,905,000   0.59   -1.43
44   11070     LG이노텍     10   2,860,000   0.58    3.81
45    3850        보령    276   2,495,040   0.50    0.00
46   31430  신세계인터내셔날     94   2,190,200   0.44   -1.89
47   11790       SKC     20   1,888,000   0.38    5.24
48     490        대동    135   1,717,200   0.35    5.39
49   35420     NAVER      3     634,500   0.13   -1.86