In [10]:
import os
import numpy as np
import pandas as pd
from scipy.signal import savgol_filter
from pykrx import stock
import matplotlib.pyplot as plt
import time
plt.rcParams['font.family'] = 'Malgun Gothic'
from KorDivStockPricer import KorDivStockPricer

In [11]:
def makeDirIfNotExist(dir):
    try:
        if not os.path.exists(dir):
            os.makedirs(dir)
    except Exception as e:
        print(str(e))

In [12]:
OUT_DIR = os.path.join(os.getcwd(), 'output')
OUT_DIR

'D:\\git\\github\\kor-stock-invest\\output'

In [13]:
makeDirIfNotExist(OUT_DIR)

In [7]:
START_YEAR = 2012
END_YEAR = 2021

In [47]:
df = pd.read_excel('./data/tiger_divgrowth50_div_analyze_result.xlsx')
df.head(3)

    종목코드       종목명  Div Growth Years  Div Growth Rates(7)  Div Growth Rates(3)
0   5490  POSCO홀딩스                 1                 0.11                 0.19
1  11780      금호석유                 6                 0.31                 0.95
2   5940    NH투자증권                 8                 0.31                 0.28

In [50]:
df.tail(3)

     종목코드    종목명  Div Growth Years  Div Growth Rates(7)  Div Growth Rates(3)
47  11790    SKC                 8                 0.10                 0.03
48    490     대동                 3                 0.04                 0.17
49  35420  NAVER                 3                -0.06                 0.18

In [21]:
#df_target = df.head(2)
df_target = df
pricingResults = []
for code in df_target.종목코드:
    code = str(code).zfill(6)
    print(f'code = {code}')
    stockPricer = KorDivStockPricer(code)
    stockPricer.getStockName()
    stockPricer.collectStockData()
    pricingResult = stockPricer.doStockPricing()
    pricingResults.append(pricingResult)
    stockPricer.savePriceDivChart()
    time.sleep(1)

code = 005490
code = 011780
code = 005940
code = 016360
code = 071050
code = 003540
code = 007070
code = 001800
code = 039490
code = 010130
code = 003550
code = 018670
code = 069260
code = 023590
code = 000270
code = 001680
code = 000210
code = 001040
code = 034730
code = 042700
code = 005930
code = 004000
code = 012330
code = 084690
code = 005440
code = 007310
code = 139480
code = 086280
code = 120110
code = 003230
code = 051900
code = 009240
code = 036570
code = 000020
code = 026890
code = 097950
code = 025540
code = 185750
code = 069960
code = 161890
code = 024720
code = 009450
code = 014830
code = 014680
code = 011070
code = 003850
code = 031430
code = 011790
code = 000490
code = 035420

In [38]:
len(pricingResults)

50

In [48]:
df_total = None
for pricingResult in pricingResults:
    #print(pricingResult)
    df_pricing_result = pd.DataFrame(pricingResult)
    if df_total is None:
        df_total = df_pricing_result
    else:
        df_total = pd.concat([df_total, df_pricing_result])

In [54]:
df_total = df_total.reset_index()

In [55]:
df_total.head(3)

   index    배당금    배당률  목표 매수 가격  목표 매도 가격  매수 점수
0      0  17000   5.16    228188    813397     57
1      0  10000   6.29    123762   1923077     76
2      0   1050  11.30      8929     92920     96

In [56]:
df_total.tail(3)

    index   배당금   배당률  목표 매수 가격  목표 매도 가격  매수 점수
47      0  1100  1.00     34810    203704     18
48      0    80  0.65      6015     21053     28
49      0   511  0.24    164839    567778     68

In [57]:
df_final = pd.concat([df, df_total], axis=1)
df_final

,종목코드,종목명,Div Growth Years,Div Growth Rates(7),Div Growth Rates(3),index,배당금,배당률,목표 매수 가격,목표 매도 가격,매수 점수
0,5490,POSCO홀딩스,1,0.11,0.19,0,17000,5.16,228188,813397,57
1,11780,금호석유,6,0.31,0.95,0,10000,6.29,123762,1923077,76
2,5940,NH투자증권,8,0.31,0.28,0,1050,11.30,8929,92920,96
3,16360,삼성증권,5,0.29,0.39,0,3800,11.64,31199,358491,95
4,71050,한국금융지주,5,0.36,0.51,0,6150,10.18,48694,683333,79
5,3540,대신증권,8,0.28,0.31,0,1400,10.74,12545,76503,95
6,7070,GS리테일,4,0.10,0.23,0,1200,4.22,24540,126316,83
7,1800,오리온홀딩스,4,-0.27,0.00,0,650,4.24,12405,144444,79
8,39490,키움증권,8,0.34,0.33,0,3500,3.50,75431,583333,72
9,10130,고려아연,8,0.17,0.22,0,20000,3.43,459770,1626016,71
10,3550,LG,8,0.16,0.12,0,2800,3.36,75269,204380,85
11,18670,SK가스,8,0.14,0.19,0,5100,4.04,106250,320755,76
12,69260,TKG휴켐스,2,0.09,-0.06,0,1000,5.04,12063,58140,51
13,23590,다우기술,8,0.24,0.20,0,600,2.81,17442,146341,79
14,270,기아,1,0.17,0.49,0,3000,3.82,62500,270270,73
15,1680,대상,8,0.15,0.13,0,800,4.03,19465,131148,98
16,210,DL,2,0.52,0.04,0,1900,3.33,57576,2111111,101
17,1040,CJ,8,0.13,0.17,0,2300,2.53,70769,741935,76
18,34730,SK,8,0.22,0.17,0,8000,4.34,174292,1212121,94
19,42700,한미반도체,0,-0.07,0.06,0,300,1.89,5976,111111,34
20,5930,삼성전자,0,-0.31,0.01,0,1444,2.35,31736,147347,38
21,4000,롯데정밀화학,1,0.34,0.11,0,2300,3.88,39182,638889,64
22,12330,현대모비스,8,0.04,0.00,0,4000,1.83,161290,344828,51
23,84690,대상홀딩스,8,0.05,0.08,0,240,3.08,5674,39344,68
24,5440,현대그린푸드,8,0.20,0.00,0,210,2.90,6442,91304,88
25,7310,오뚜기,8,0.10,0.02,0,8000,1.80,430108,2666667,96
26,139480,이마트,8,0.04,0.00,0,2000,1.73,84388,400000,66
27,86280,현대글로비스,8,0.10,0.05,0,3800,2.36,105556,452381,55
28,120110,코오롱인더,3,0.15,0.13,0,1300,2.84,38348,224138,80
29,3230,삼양식품,6,0.39,0.36,0,1000,0.83,90090,1428571,73
30,51900,LG생활건강,8,0.17,0.09,0,12000,1.79,558140,3076923,80
31,9240,한샘,8,0.09,0.09,0,1550,2.90,39846,574074,73
32,36570,엔씨소프트,0,0.08,-0.01,0,5860,1.35,275117,1105660,51
33,20,동화약품,3,0.12,0.14,0,180,2.01,8696,38298,96
34,26890,스틱인베스트먼트,8,0.17,0.29,0,150,2.44,5455,36585,87
35,97950,CJ제일제당,8,0.14,0.13,0,5000,1.56,301205,1111111,92
36,25540,한국단자,8,0.07,0.00,0,700,1.20,25362,162791,33
37,185750,종근당,6,0.03,0.04,0,1000,1.23,77519,243902,93
38,69960,현대백화점,8,0.07,0.07,0,1100,2.00,53398,239130,96
39,161890,한국콜마,7,0.15,0.08,0,415,1.00,34583,276667,81
40,24720,한국콜마홀딩스,8,0.14,0.08,0,245,1.50,13920,204167,84
41,9450,경동나비엔,8,0.24,0.22,0,450,1.17,33582,264706,85
42,14830,유니드,8,0.06,0.16,0,1700,2.07,51515,170000,47
43,14680,한솔케미칼,8,0.20,0.21,0,2100,1.00,132911,403846,45
44,11070,LG이노텍,5,0.43,1.15,0,3000,1.07,270270,2500000,96
45,3850,보령,3,-0.09,0.19,0,100,1.10,5814,40000,58
46,31430,신세계인터내셔날,0,-0.09,-0.29,0,300,1.33,22059,166667,97
47,11790,SKC,8,0.10,0.03,0,1100,1.00,34810,203704,18
48,490,대동,3,0.04,0.17,0,80,0.65,6015,21053,28
49,35420,NAVER,3,-0.06,0.18,0,511,0.24,164839,567778,68

In [83]:
df_final.drop('index', inplace=True, axis=1)
df_final.head(3)

,종목코드,종목명,Div Growth Years,Div Growth Rates(7),Div Growth Rates(3),배당금,배당률,목표 매수 가격,목표 매도 가격,매수 점수
0,5490,POSCO홀딩스,1,0.11,0.19,17000,5.16,228188,813397,57
1,11780,금호석유,6,0.31,0.95,10000,6.29,123762,1923077,76
2,5940,NH투자증권,8,0.31,0.28,1050,11.30,8929,92920,96

In [84]:
resultFilePath = os.path.join(OUT_DIR, 'tiger_divgrowth50_pricing_result.xlsx')
df_final.to_excel(resultFilePath, index=False)

In [85]:
df_pricing_result = pd.read_excel(resultFilePath)

In [86]:
df_pricing_result.head(3)

,종목코드,종목명,Div Growth Years,Div Growth Rates(7),Div Growth Rates(3),배당금,배당률,목표 매수 가격,목표 매도 가격,매수 점수
0,5490,POSCO홀딩스,1,0.11,0.19,17000,5.16,228188,813397,57
1,11780,금호석유,6,0.31,0.95,10000,6.29,123762,1923077,76
2,5940,NH투자증권,8,0.31,0.28,1050,11.30,8929,92920,96

In [87]:
df_pricing_result.sort_values(['매수 점수'], ascending=False)

,종목코드,종목명,Div Growth Years,Div Growth Rates(7),Div Growth Rates(3),배당금,배당률,목표 매수 가격,목표 매도 가격,매수 점수
16,210,DL,2,0.52,0.04,1900,3.33,57576,2111111,101
15,1680,대상,8,0.15,0.13,800,4.03,19465,131148,98
46,31430,신세계인터내셔날,0,-0.09,-0.29,300,1.33,22059,166667,97
38,69960,현대백화점,8,0.07,0.07,1100,2.00,53398,239130,96
44,11070,LG이노텍,5,0.43,1.15,3000,1.07,270270,2500000,96
33,20,동화약품,3,0.12,0.14,180,2.01,8696,38298,96
25,7310,오뚜기,8,0.10,0.02,8000,1.80,430108,2666667,96
2,5940,NH투자증권,8,0.31,0.28,1050,11.30,8929,92920,96
5,3540,대신증권,8,0.28,0.31,1400,10.74,12545,76503,95
3,16360,삼성증권,5,0.29,0.39,3800,11.64,31199,358491,95
18,34730,SK,8,0.22,0.17,8000,4.34,174292,1212121,94
37,185750,종근당,6,0.03,0.04,1000,1.23,77519,243902,93
35,97950,CJ제일제당,8,0.14,0.13,5000,1.56,301205,1111111,92
24,5440,현대그린푸드,8,0.20,0.00,210,2.90,6442,91304,88
34,26890,스틱인베스트먼트,8,0.17,0.29,150,2.44,5455,36585,87
41,9450,경동나비엔,8,0.24,0.22,450,1.17,33582,264706,85
10,3550,LG,8,0.16,0.12,2800,3.36,75269,204380,85
40,24720,한국콜마홀딩스,8,0.14,0.08,245,1.50,13920,204167,84
6,7070,GS리테일,4,0.10,0.23,1200,4.22,24540,126316,83
39,161890,한국콜마,7,0.15,0.08,415,1.00,34583,276667,81
30,51900,LG생활건강,8,0.17,0.09,12000,1.79,558140,3076923,80
28,120110,코오롱인더,3,0.15,0.13,1300,2.84,38348,224138,80
4,71050,한국금융지주,5,0.36,0.51,6150,10.18,48694,683333,79
7,1800,오리온홀딩스,4,-0.27,0.00,650,4.24,12405,144444,79
13,23590,다우기술,8,0.24,0.20,600,2.81,17442,146341,79
17,1040,CJ,8,0.13,0.17,2300,2.53,70769,741935,76
1,11780,금호석유,6,0.31,0.95,10000,6.29,123762,1923077,76
11,18670,SK가스,8,0.14,0.19,5100,4.04,106250,320755,76
29,3230,삼양식품,6,0.39,0.36,1000,0.83,90090,1428571,73
14,270,기아,1,0.17,0.49,3000,3.82,62500,270270,73
31,9240,한샘,8,0.09,0.09,1550,2.90,39846,574074,73
8,39490,키움증권,8,0.34,0.33,3500,3.50,75431,583333,72
9,10130,고려아연,8,0.17,0.22,20000,3.43,459770,1626016,71
49,35420,NAVER,3,-0.06,0.18,511,0.24,164839,567778,68
23,84690,대상홀딩스,8,0.05,0.08,240,3.08,5674,39344,68
26,139480,이마트,8,0.04,0.00,2000,1.73,84388,400000,66
21,4000,롯데정밀화학,1,0.34,0.11,2300,3.88,39182,638889,64
45,3850,보령,3,-0.09,0.19,100,1.10,5814,40000,58
0,5490,POSCO홀딩스,1,0.11,0.19,17000,5.16,228188,813397,57
27,86280,현대글로비스,8,0.10,0.05,3800,2.36,105556,452381,55
32,36570,엔씨소프트,0,0.08,-0.01,5860,1.35,275117,1105660,51
22,12330,현대모비스,8,0.04,0.00,4000,1.83,161290,344828,51
12,69260,TKG휴켐스,2,0.09,-0.06,1000,5.04,12063,58140,51
42,14830,유니드,8,0.06,0.16,1700,2.07,51515,170000,47
43,14680,한솔케미칼,8,0.20,0.21,2100,1.00,132911,403846,45
20,5930,삼성전자,0,-0.31,0.01,1444,2.35,31736,147347,38
19,42700,한미반도체,0,-0.07,0.06,300,1.89,5976,111111,34
36,25540,한국단자,8,0.07,0.00,700,1.20,25362,162791,33
48,490,대동,3,0.04,0.17,80,0.65,6015,21053,28
47,11790,SKC,8,0.10,0.03,1100,1.00,34810,203704,18

In [88]:
df_pricing_result.sort_values(['배당률'], ascending=False)

,종목코드,종목명,Div Growth Years,Div Growth Rates(7),Div Growth Rates(3),배당금,배당률,목표 매수 가격,목표 매도 가격,매수 점수
3,16360,삼성증권,5,0.29,0.39,3800,11.64,31199,358491,95
2,5940,NH투자증권,8,0.31,0.28,1050,11.30,8929,92920,96
5,3540,대신증권,8,0.28,0.31,1400,10.74,12545,76503,95
4,71050,한국금융지주,5,0.36,0.51,6150,10.18,48694,683333,79
1,11780,금호석유,6,0.31,0.95,10000,6.29,123762,1923077,76
0,5490,POSCO홀딩스,1,0.11,0.19,17000,5.16,228188,813397,57
12,69260,TKG휴켐스,2,0.09,-0.06,1000,5.04,12063,58140,51
18,34730,SK,8,0.22,0.17,8000,4.34,174292,1212121,94
7,1800,오리온홀딩스,4,-0.27,0.00,650,4.24,12405,144444,79
6,7070,GS리테일,4,0.10,0.23,1200,4.22,24540,126316,83
11,18670,SK가스,8,0.14,0.19,5100,4.04,106250,320755,76
15,1680,대상,8,0.15,0.13,800,4.03,19465,131148,98
21,4000,롯데정밀화학,1,0.34,0.11,2300,3.88,39182,638889,64
14,270,기아,1,0.17,0.49,3000,3.82,62500,270270,73
8,39490,키움증권,8,0.34,0.33,3500,3.50,75431,583333,72
9,10130,고려아연,8,0.17,0.22,20000,3.43,459770,1626016,71
10,3550,LG,8,0.16,0.12,2800,3.36,75269,204380,85
16,210,DL,2,0.52,0.04,1900,3.33,57576,2111111,101
23,84690,대상홀딩스,8,0.05,0.08,240,3.08,5674,39344,68
24,5440,현대그린푸드,8,0.20,0.00,210,2.90,6442,91304,88
31,9240,한샘,8,0.09,0.09,1550,2.90,39846,574074,73
28,120110,코오롱인더,3,0.15,0.13,1300,2.84,38348,224138,80
13,23590,다우기술,8,0.24,0.20,600,2.81,17442,146341,79
17,1040,CJ,8,0.13,0.17,2300,2.53,70769,741935,76
34,26890,스틱인베스트먼트,8,0.17,0.29,150,2.44,5455,36585,87
27,86280,현대글로비스,8,0.10,0.05,3800,2.36,105556,452381,55
20,5930,삼성전자,0,-0.31,0.01,1444,2.35,31736,147347,38
42,14830,유니드,8,0.06,0.16,1700,2.07,51515,170000,47
33,20,동화약품,3,0.12,0.14,180,2.01,8696,38298,96
38,69960,현대백화점,8,0.07,0.07,1100,2.00,53398,239130,96
19,42700,한미반도체,0,-0.07,0.06,300,1.89,5976,111111,34
22,12330,현대모비스,8,0.04,0.00,4000,1.83,161290,344828,51
25,7310,오뚜기,8,0.10,0.02,8000,1.80,430108,2666667,96
30,51900,LG생활건강,8,0.17,0.09,12000,1.79,558140,3076923,80
26,139480,이마트,8,0.04,0.00,2000,1.73,84388,400000,66
35,97950,CJ제일제당,8,0.14,0.13,5000,1.56,301205,1111111,92
40,24720,한국콜마홀딩스,8,0.14,0.08,245,1.50,13920,204167,84
32,36570,엔씨소프트,0,0.08,-0.01,5860,1.35,275117,1105660,51
46,31430,신세계인터내셔날,0,-0.09,-0.29,300,1.33,22059,166667,97
37,185750,종근당,6,0.03,0.04,1000,1.23,77519,243902,93
36,25540,한국단자,8,0.07,0.00,700,1.20,25362,162791,33
41,9450,경동나비엔,8,0.24,0.22,450,1.17,33582,264706,85
45,3850,보령,3,-0.09,0.19,100,1.10,5814,40000,58
44,11070,LG이노텍,5,0.43,1.15,3000,1.07,270270,2500000,96
39,161890,한국콜마,7,0.15,0.08,415,1.00,34583,276667,81
43,14680,한솔케미칼,8,0.20,0.21,2100,1.00,132911,403846,45
47,11790,SKC,8,0.10,0.03,1100,1.00,34810,203704,18
29,3230,삼양식품,6,0.39,0.36,1000,0.83,90090,1428571,73
48,490,대동,3,0.04,0.17,80,0.65,6015,21053,28
49,35420,NAVER,3,-0.06,0.18,511,0.24,164839,567778,68

In [ ]:
"""
Test
"""

In [ ]:
#df_dps = pd.DataFrame(index = range(START_YEAR, END_YEAR+1))
df_dps = pd.DataFrame(index = ('name', range(START_YEAR, END_YEAR+1)))
df_dps.head(3)

In [ ]:
df_dps.index.name = 'year'
df_dps